aside.logo {
    background-color: var(--bg-dark);
    display: flex;
    justify-content: center;
    align-items: center;
}

aside.logo img {
    padding: 0px 13px 0px 30px;
    width: 75%;
}

@media(max-width: 576px) {
    aside.logo img {
        width: 350px;
    }
}